
<div class="search-box">
<form method="post" action="search">
  <div class="mb-3" >
    <label for="search-input" class="form-label">tìm diễn viên</label>
    <input type="text" id="search-input" name="Name" class="form-control" aria-describedby="enter">
    <input type="text" id="search-input" name="age" class="form-control" aria-describedby="enter">
    <input type="text"  name="query"  class="form-control"  aria-describedby="enter">

  </div>
  
  <button type="submit"  class="btn btn-primary">Submit</button>
</form>
</div>