<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Danh sách người dùng</h1>
    <table border="1">
        <tr>
            <th>Tên</th>
            <th>Tuổi</th>
            <th>Nghề nghiệp</th>
        </tr>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.age %></td>
                <td><%= user.job %></td>
            </tr>
        <% }); %>
    </table>
    <a  aria-current="page" href="/status">ex: status</a>
</body>
</html>
